body {
	background-color: black;
	font-family: Pixeled;
	font-size: 15px;
	color: white;
	gap: 1rem;
	padding: 2rem;
}
			
input {
	padding: 0.5rem;
	border: 3px solid #555;
	background-color: black;
	color: white;
	font-size: 1rem;
	transition: border-color 0.2s ease-in-out;
}

input:focus {
	border-color: #4facfe;
	outline: none;
}

