body {
	background-color: black;
	font-family: Terminus, bold;
	font-size: 20px;
	color: white;
	gap: 1rem;
	padding: 2rem;
}
			
input {
	padding: 0.5rem;
	border: 2px solid #333;
	border-radius: 10px;
	background-color: #f7f7f7;
	color: black;
	font-size: 1rem;
	transition: border-color 0.2s ease-in-out;
}

input:focus {
	border-color: #4facfe;
	outline: none;
}
