<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">

		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

		{% if title %}
		<title>{{title}}</title>
		{% else %}
		<title>CSV-reader</title>
		{% endif %}
	</head>

	<body>
		<div style="display: flex; justify-content: space-between">
			<div>
				<a href="/index">Home</a>
				<a href=/app>App</a>
			</div>

			<div>
				<a href="/login">Sign in</a>
				<a href="/register">Register</a>
			</div>
		</div>
		<hr>

		
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
		{% for message in messages %}
        <li>{{ message }} </li>
		{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}

		{% block content %}{% endblock %}
	</body>
</html>
