{% extends "base.html" %}
{% block content %}

{% if files|length > 0 %}
<select size="{{ files|length }}" class="select-menu" id="select-menu" multiple="multiple">
	{% for file in files %}
	<option value="{{ loop.index }}">{{ file }}</option>
	{% endfor %}
</select>
{% endif %}

<button type="button" id="reload_btn">Reload</button>
<button type="button" onclick="process(1)">btn</button>
<button type="button" onclick="reload_table(1)">btn2</button>

{% block table %}{% endblock %}

<div class="menu_box">
<div id="table_columns" class="table_columns"></div>

<div id="main_menu" class="main_menu" style="margin-left: 10px;">
	<label>Text Filter</label><br>
	<input type="checkbox"></input>
	<input type="field"></input>
	<br><br>	
	<label>Number Filter</label><br>
	<input type="checkbox"></input>
	<input type="field"></input>
</div>
</div>

<form id="download_form" method="POST" action="{{ url_for('download_file', name="") }}"
      enctype="multipart/form-data">
    <button type="submit" class="btn btn-primary">Download file</button>
</form>

<div id="table" class="table-container"></div>

<script>
	const select = document.getElementById("select-menu");
	const form = document.getElementById("download_form");

	if (select.options.length === 1) {
		const url = "{{ url_for('download_file', name="") }}";
		form.action = url + select.options[0].text;
	}

	select.addEventListener("change", (event) => {
		const url = "{{ url_for('download_file', name="") }}";
		form.action = url + select.options[select.selectedIndex].text;
	});
</script>

<pre id="preview-text"></pre>
<div class="preview"></div>
{% endblock %}

