
                    {% extends "csv_app.html" %}
                    {% block table %}
                <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>id</th>
      <th>artist</th>
      <th>track</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>0</td>
      <td>мц вороежка + Репер Френе</td>
      <td>Треки для тупых</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Репер Френе</td>
      <td>Линукс прости меня я был не прав...</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Lil Mentally Ill</td>
      <td>СМЕШНО</td>
    </tr>
    <tr>
      <td>3</td>
      <td>ковры из костей</td>
      <td>Зеркало</td>
    </tr>
  </tbody>
</table>{% endblock %}