{% extends "base.html" %}

{% block content %}

<div class="upload_form">
	<h2>Select files for upload</h2>

	<form method="POST" enctype="multipart/form-data">
		<input type="file" name="file" multiple><br>
		<input type="submit" value="Upload" class="button">
	</form>
</div>

<script>
window.addEventListener('unload', delete_all_files());
    
function delete_all_files() {
    $.ajax({
        url: "/api/delete_all_files/",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify({"delete": true}),
        success: function (data) {
            alert("xd");
        },
    });
}
</script>

{% endblock %}
